.open-close {
  font-family: Roboto, Arial, Lato, sans-serif;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
.open-close:focus {
  background-color: rgba(0, 0, 0, 0.15);
}

.row__item {
  color: black;
  width: 100%;
  line-height: 2;
  padding-left: 10px;
  text-align: left;
  border-left: 4px solid transparent;
  font-size: 16px;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
}
.row__item:hover {
  border-left: 4px solid #1b75bb; }

.row__item:focus,
.row__item:active {
  background-color: rgba(0, 0, 0, 0.15);
  outline: none;
}

.row__type2-topic:focus {
  background-color: rgba(0, 0, 0, 0.15);
}
