.m-select__item {
  color: #f8f8ff;
  color: var(--si-c, #f8f8ff);

  line-height: 2;
  padding-left: 16px;
  cursor: pointer; 
}

.m-select__item:hover {
  background-color: rgba(0, 0, 0, 0.15); 
}


